.micro-slider {
  height: 480px;
  position: relative;
  width: 100%;
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 0 50%;
}
.slider-item {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.06),
    0 1px 2px rgba(0, 0, 0, 0.12);
  display: none;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 900px;
  cursor: pointer;
}
.indicators {
  bottom: 0px;
  left: 50%;
  list-style-type: none;
  margin: 0 0 0 -65px;
  padding: 0;
  position: absolute;
}
.indicators li {
  color: #fff;
  float: left;
  height: 16px;
  margin-right: 8px;
  text-align: center;
  width: 16px;
}
.indicators li:last-child {
  margin: 0;
}
.indicators a {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e6e9ec;
  color: #fff;
  display: inline-block;
  height: 16px;
  width: 16px;
}
.indicators .active a {
  background: #e6e9ec;
}
.s1 {
  background: url('@/assets/images/newCarImage1.svg') no-repeat center center;
  background-size: cover;
}
.s2 {
  background: url('@/assets/images/newCarImage2.svg') no-repeat center center;
  background-size: cover;
}
.s3 {
  background: url('@/assets/images/newCarImage3.svg') no-repeat center center;
  background-size: cover;
}

.s4 {
  background: url('@/assets/images/newCarImage4.svg') no-repeat center center;
  background-size: cover;
}
.s5 {
  background: url('@/assets/images/newCarImage5.svg') no-repeat center center;
  background-size: cover;
}
