.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  height: 500px;
  transform-style: preserve-3d;
  perspective: 400px;
}

.slider-item {
  cursor: pointer;
  width: 1200px;
  height: 500px;
  position: absolute;
  transition:
    transform 0.35s ease-in-out,
    z-index 0s 0.2s;
  top: 50%;
  left: 50%;
}

.s1 {
  transform: translate(-50%, -50%) translateX(0) translateZ(0);
  z-index: 4;
}

.s2 {
  transform: translate(-50%, -50%) translateX(330px) translateZ(-100px);
  z-index: 3;
}

.s3 {
  transform: translate(-50%, -50%) translateX(650px) translateZ(-200px);
  z-index: 2;
}

.s4 {
  transform: translate(-50%, -50%) translateX(-650px) translateZ(-200px);
  z-index: 2;
}

.s5 {
  transform: translate(-50%, -50%) translateX(-330px) translateZ(-100px);
  z-index: 3;
}

.indicator-item {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  border: 1px solid lightgrey;
}

.indicator-item.active {
  background-color: lightgrey;
}
